Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, eslint

Remove useless hideDelete prop
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

improve settings mobx bindings, cover and links
  src/components/ImageInput/ImageInput.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

simplify section field bindings, work on specs
  cypress/integration/settings.spec.ts
  src/components/LocationSearch/LocationSearch.tsx
  src/mocks/Selectors.tsx
  src/models/user.models.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/MapPin.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
  src/pages/User/content/UserPage/UserPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor map pin section
  cypress/integration/settings.spec.ts
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/MapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

save profile, array validators
  cypress/integration/settings.spec.ts
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/Fields/Link.field.tsx
  src/pages/Settings/content/formSections/MapPin.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/Settings/content/formSections/Workspace.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix tests
  cypress/integration/settings.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

fix event spec
  cypress/integration/bugs.spec.ts
  cypress/integration/events.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

fix settings spec
  cypress/integration/settings.spec.ts
  src/components/Notification/messages.tsx
Due: tslint --project tsconfig.json --config tslint.json

minor validation and submit fixes
  cypress/integration/settings.spec.ts
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/Fields/CustomCheckbox.field.tsx
  src/pages/Settings/content/formSections/Fields/CustomRadio.field.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
  src/pages/Settings/content/formSections/MapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

more minor test fix attempts
  cypress/integration/settings.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

minor type fix
  cypress/integration/settings.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

retain creator howto ownership
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix edge case with country from location field
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

allow reorder of step in howto form
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

cherry pick commit to fix test
  cypress/integration/settings.spec.ts
  src/components/Notification/messages.tsx
Due: tslint --project tsconfig.json --config tslint.json

add adminContact text display
  src/components/AdminContact/AdminContact.tsx
  src/stores/Admin/admin.store.ts
Due: tslint --project tsconfig.json --config tslint.json

Display cover image errors
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor flag select
  src/components/Form/FlagSelect.tsx
  src/components/Form/Select.field.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
  src/pages/User/content/UserPage/UserPage.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

code tidying
  src/components/Form/FlagSelect.tsx
  src/pages/Settings/SettingsPage.tsx
  src/utils/helpers.ts
Due: tslint --project tsconfig.json --config tslint.json

fix flag spec test
  cypress/integration/settings.spec.ts
  src/components/Form/FlagSelect.tsx
Due: tslint --project tsconfig.json --config tslint.json

add debug for failed settings test
  cypress/integration/settings.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

code tidying
  cypress/integration/settings.spec.ts
  src/pages/Settings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

add test retry and parallel
  cypress.json
  cypress/integration/settings.spec.ts
  cypress/plugins/index.js
  cypress/support/index.ts
  package.json
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, eslint

parllel test config
  .travis.yml
Due: none

add margin to error message
  src/components/Form/elements.ts
Due: tslint --project tsconfig.json --config tslint.json

upgrade cypress version
  package.json
  yarn.lock
Due: none

add onblur trigger to workspace type value change
  src/pages/Settings/content/formSections/Workspace.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

parallel build test
  .travis.yml
  package.json
Due: none

script tidying
  .travis.yml
  package.json
  yarn.lock
Due: none

ci script fixes
  .travis.yml
Due: none

cypress scripts
  .travis.yml
Due: none

multiple browser support
  .travis.yml
Due: none

cy scripts
  .travis.yml
Due: none

ci scripts
  .travis.yml
Due: none

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: *.{ts,tsx}
  eslint: any of: *.{js,jsx}
