Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, eslint

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": [
      "tslint --project tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "eslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  }
}

comment out bug specs
  cypress/integration/bugs.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

speed up academy spec and general
  cypress.json
  cypress/integration/academy.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

improve db prefix methods
  cypress/integration/events.spec.ts
  cypress/integration/howto/read.spec.ts
  cypress/integration/howto/write.spec.ts
  cypress/integration/settings.spec.ts
  cypress/tslint.json
  cypress/utils/test-utils.ts
Due: tslint --project tsconfig.json --config tslint.json

update endpoints to match v3 api
  functions/src/Integrations/firebase-discord.ts
Due: tslint --project tsconfig.json --config tslint.json

remove fbauth cmds, fix event & common spec
  cypress.json
  cypress/fixtures/seed/events.json
  cypress/fixtures/seed/index.ts
  cypress/integration/common.spec.ts
  cypress/integration/events.spec.ts
  cypress/support/commands.ts
  cypress/support/db/firebase.ts
  cypress/support/hooks.ts
  cypress/support/index.ts
  tsconfig.test.json
Due: tslint --project tsconfig.json --config tslint.json

fix src login and logout redirects
  src/components/ProfileModal/ProfileModal.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix cy logout command
  cypress/support/commands.ts
Due: tslint --project tsconfig.json --config tslint.json

update links to new repo name
  CONTRIBUTING.md
Due: none

WiP - troubleshoot discord functions
  functions/src/Integrations/firebase-discord.ts
  functions/src/exports/tasks.ts
Due: tslint --project tsconfig.json --config tslint.json

handle server/cache race on doc get
  src/pages/Maps/Maps.tsx
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

tidy logs
  functions/src/Integrations/firebase-discord.ts
Due: tslint --project tsconfig.json --config tslint.json

fix events spec
  cypress/fixtures/seed/events.json
  cypress/integration/events.spec.ts
  src/stores/Admin/admin.store.ts
Due: tslint --project tsconfig.json --config tslint.json

e2e event datepicker fix, increase timeout
  cypress.json
  cypress/integration/events.spec.ts
  cypress/support/hooks.ts
Due: tslint --project tsconfig.json --config tslint.json

fix howto read spec
  cypress/fixtures/seed/howtos.json
  cypress/integration/howto/read.spec.ts
  cypress/support/commands.ts
Due: tslint --project tsconfig.json --config tslint.json

Adding react-ga Google Analytics inside router
  src/config/config.ts
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Adding Analytics component to take care of page changes
  src/components/Analytics/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

Protecting GA only on prod
  src/components/Analytics/index.tsx
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

fix howto spc
  cypress/fixtures/seed/howtos.json
  cypress/integration/bugs.spec.ts
  cypress/integration/howto/read.spec.ts
  cypress/integration/howto/write.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

fix settings spec
  cypress/fixtures/seed/users.json
  cypress/integration/map.spec.ts
  cypress/integration/settings.spec.ts
  cypress/support/commands.ts
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/MapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

add user delete
  cypress/support/commands.ts
Due: tslint --project tsconfig.json --config tslint.json

fix sign-in/up specs
  cypress/integration/sign-in.spec.ts
  cypress/integration/sign-up.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

add tests back into ci
  .travis.yml
Due: none

update test script
  package.json
Due: none

fix travis script
  .travis.yml
  src/tsconfig.json
Due: none

adjust caching
  cypress/integration/events.spec.ts
  cypress/support/hooks.ts
Due: tslint --project tsconfig.json --config tslint.json

before hook timeout
  cypress/support/hooks.ts
Due: tslint --project tsconfig.json --config tslint.json

more timeout edits
  cypress/support/hooks.ts
Due: tslint --project tsconfig.json --config tslint.json

add http-get support
  cypress/support/hooks.ts
Due: tslint --project tsconfig.json --config tslint.json

Updating tracking variable
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

add fix/v3-tests branch to push tests
  .travis.yml
Due: none

reorganise scripts, add http-get to tests
  package.json
  yarn.lock
Due: none

share same firebase instance between test and site
  cypress/support/commands.ts
  cypress/support/db/firebase.ts
  src/stores/databaseV2/clients/firestore.tsx
  src/utils/firebase.ts
Due: tslint --project tsconfig.json --config tslint.json

more spec tidying/fixing
  cypress.json
  cypress/integration/events.spec.ts
  cypress/integration/howto/write.spec.ts
  cypress/integration/sign-up.spec.ts
  cypress/support/hooks.ts
  package.json
Due: tslint --project tsconfig.json --config tslint.json

adjust firebase delete user auth method
  cypress/support/commands.ts
Due: tslint --project tsconfig.json --config tslint.json

adjust sign-in and sign-up specs
  cypress/integration/sign-in.spec.ts
  cypress/integration/sign-up.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

remove fix/v3-tests branch from travis
  .travis.yml
Due: none

fix inefficient db cache retrieval
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

add runtime caching for service worker images
  config/webpack.config.js
  functions/src/config/cors.md
Due: eslint

add offline fallback to query requests
  src/stores/databaseV2/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

update messages posted for discord & slack webhooks
  functions/src/Integrations/firebase-discord.ts
  functions/src/Integrations/firebase-slack.ts
Due: tslint --project tsconfig.json --config tslint.json
