Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, eslint

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": [
      "tslint --project tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "eslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  }
}

Switched back to Chrome coz Electron also stucks with firestore.set/add
  package.json
Due: none

Chrome doesn't have the headless mode
  package.json
Due: none

use modalProfile instead of 3 values for more readability
  src/components/ProfileModal/ProfileModal.tsx
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

Fix anchoring for custom markers.
  src/pages/Settings/content/formSections/MapPin.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

Added 4 more users for the remaining focus settings
  cypress/fixtures/seed/auth.json
  cypress/fixtures/seed/users.json
Due: none

Refactored and added a test to update Member-focused Settings
  cypress/integration/settings/focus_workplace.spec.ts
  cypress/tslint.json
Due: tslint --project tsconfig.json --config tslint.json

Added a test to update a Machine Builder settings
  cypress/integration/settings/focus_workplace.spec.ts
  src/pages/Settings/content/formSections/Expertise.section.tsx
  src/pages/Settings/content/formSections/Fields/CustomCheckbox.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

Added a test to update Community-Builder focused Settings
  cypress/integration/settings/focus_workplace.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

Added a test to update Collection-Point focused Settings
  cypress/integration/settings/focus_workplace.spec.ts
  src/pages/Settings/content/formSections/Collection.section.tsx
  src/pages/Settings/content/formSections/Fields/OpeningHoursPicker.field.tsx
Due: tslint --project tsconfig.json --config tslint.json

Settings spec is consisted of tests of all focus types
  cypress/integration/settings.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

Removed only keyword
  cypress/integration/settings.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

Upgraded Cypress to 3.6
  package.json
  yarn.lock
Due: none

Upgraded Cypress to 3.6
  package.json
Due: none

updated version of storybook and started new stories
  .storybook/addons.ts
  .storybook/config.js
  .storybook/config.ts
  .storybook/theme-decorator.tsx
  .storybook/wInfo.ts
  .storybook/webpack.config.js
  package.json
  src/components/Button/button.stories.js
  src/components/Button/button.stories.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, eslint

storybook docs addon
  .storybook/presets.js
  package.json
  yarn.lock
Due: eslint

storybook mdx stories
  .storybook/config.js
  package.json
  src/components/Button/button.stories.mdx
  yarn.lock
Due: eslint

button stories
  .storybook/addons.js
  .storybook/config.js
  src/components/Button/button.stories.js
  src/components/Button/button.stories.mdx
Due: eslint

resolving conflict on yarn.lock
  yarn.lock
Due: none

button stories with extra props
  src/components/Button/button.stories.mdx
Due: none

update typescript to latest version 3.6.4
  package.json
Due: none

comment broken types - will fix when rewrite in mdx
  src/components/Heading/heading.stories.tsx
  src/components/Icons/icon.stories.tsx
  src/components/Text/text.stories.tsx
Due: tslint --project tsconfig.json --config tslint.json

import rebass/styled-components to fix types errors
  src/components/Button/index.tsx
  src/components/Flex/index.tsx
  src/components/Form/Select.field.tsx
  src/components/Heading/index.tsx
  src/components/MoreContainer/MoreContainer.tsx
  src/pages/admin/content/AdminTags.tsx
  src/pages/common/Layout/Main.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

update profile cover-image field
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

update map cluster icon
  src/assets/icons/map-cluster.svg
Due: none

simply cluster css, improve fit for larger numbers
  package.json
  src/pages/Maps/Content/View/Cluster.tsx
  src/pages/Maps/Content/View/Sprites.tsx
  src/pages/Maps/Content/View/sprites.css
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

Run the failed suite only for debugging
  package.json
Due: none

Travis is excluding the pr branch for no reason
  .travis.yml
Due: none

Fixed the issue that Cypress dashboard is broken
  package.json
Due: none

Reduced the build time for debugging by only executing cypress
  .travis.yml
Due: none

Enabled cypress debugging mode for more details
  package.json
Due: none

Increased the timeout for debugging
  cypress/integration/settings/focus_workplace.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

Visited a different page than /events
  cypress/integration/settings/focus_workplace.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

Checked the loading of pages
  cypress/integration/settings/focus_workplace.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

validate form only if profileType & workspace type selected - fix coverImages upload
  src/components/Form/ImageInput.field.tsx
  src/components/ImageInput/ImageInput.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/Settings/content/formSections/Focus.section.tsx
  src/pages/Settings/content/formSections/UserInfos.section.tsx
Due: tslint --project tsconfig.json --config tslint.json

Made the suite's size smaller by removing the big chunk of payload
  cypress/integration/settings/focus_workplace.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

Checked another test suite than the workplace.spec.ts
  package.json
Due: none

Added 2 more same tests to verify if the server bootstrap affects the 1st test only
  cypress/integration/academy.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

Added a 60s delay for server startup to validate if it gets all tests passed
  cypress/integration/settings/focus_workplace.spec.ts
  package.json
Due: tslint --project tsconfig.json --config tslint.json

Run all tests
  package.json
Due: none

Switched to form.submit() because button.click() doesn't trigger submit event
  cypress/integration/sign-in.spec.ts
  src/pages/SignIn/SignIn.tsx
Due: tslint --project tsconfig.json --config tslint.json
