Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, eslint

wrap all pages with a PageContainer
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

add feedback page and form
  .gitignore
  .lintstagedrc
  src/assets/userReportInit.js
  src/pages/Feedback/Feedback.tsx
  src/pages/index.tsx
  tsconfig.json
  tslint.json
Due: tslint --project tsconfig.json --config tslint.json, eslint

use Text component for onearmy in nav, remove useless css
  src/pages/common/Header/CommunityHeader/CommunityHeader.tsx
  src/pages/common/Header/CommunityHeader/elements.js
Due: tslint --project tsconfig.json --config tslint.json, eslint

update breadcrumb color - remove community variant header
  src/pages/common/Header/CommunityHeader/elements.js
  src/pages/common/Header/Header.tsx
  src/pages/index.tsx
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json, eslint

change icon size in button
  src/components/Icons/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

use Text component in Button instead of span
  src/components/Button/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

add Sign up button to navbar
  src/pages/common/Login/Login.tsx
Due: tslint --project tsconfig.json --config tslint.json

update button theme values
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix conflicts
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/common/Header/CommunityHeader/CommunityHeader.tsx
  src/pages/common/Header/CommunityHeader/elements.js
Due: tslint --project tsconfig.json --config tslint.json, eslint

add @rebass/grid
  package.json
  yarn.lock
Due: none

remove all material-UI components from how-to list and start building our own grid & Cards
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

center list container - fix height for Card elements
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

wrap all pages with PageContainer
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/pages/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

only add margin to Icon button if present
  src/components/Button/index.tsx
  src/components/Icons/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

use our Link component for create button
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

add PP logo on Card
  src/assets/images/pp-icon-small.png
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

add inline prop to Text component - use it to display username
  src/components/Text/index.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor TagDisplay component with SC - display Tags on Card
  src/components/Tags/TagDisplay/TagDisplay.scss
  src/components/Tags/TagDisplay/TagDisplay.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

add margin-top to TagDisplay
  src/components/Tags/TagDisplay/TagDisplay.tsx
Due: tslint --project tsconfig.json --config tslint.json

(WiP - local image compression)
  functions/src/Firebase/admin.ts
  functions/src/Firebase/test.json
  package.json
  src/components/ImageUpload/ImageUpload.tsx
  src/pages/Howto/Content/CreateHowto/CreateHowto.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

profile saved notification
  src/components/Notification/TextNotification.tsx
  src/pages/Profile/content/ProfileEdit.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

text notification component visibility
  src/components/Notification/TextNotification.tsx
Due: tslint --project tsconfig.json --config tslint.json

add animations package (react-posed), fadeInOut ex
  package.json
  src/components/Animations/FadeInOut.tsx
  src/components/Notification/TextNotification.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

add time, step & difficulty icons - all spacing from Icons props
  src/components/Icons/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove back to how-to Link
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove MUI and use our or rebass components instead
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove useless element.js
  src/pages/Howto/Content/Howto/HowtoDescription/elements.js
  src/pages/Howto/Content/HowtoList/elements.js
Due: eslint

remove HowToSummary for now & wrap all steps in a Box container
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove MUI from HowTo/Step & use rebass or our own
  src/pages/Howto/Content/Howto/Step/Step.tsx
  src/pages/Howto/Content/Howto/Step/elements.js
Due: tslint --project tsconfig.json --config tslint.json, eslint

use unicode space for date info - comment useless fn
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

remove redundant colors, tidy colors typings
  src/components/Text/index.tsx
  src/hacks/DaveHakkensNL.hacks.tsx
  src/pages/Profile/content/ChangePassword.form.tsx
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

add back missing colors
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix profile update on dh import
  src/pages/Profile/content/ProfileEdit.form.tsx
  src/pages/Profile/content/UserProfile.tsx
Due: tslint --project tsconfig.json --config tslint.json

additional profile edit comments
  src/pages/Profile/content/ProfileEdit.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix input layout sizing, add disabled style
  src/components/Form/elements.js
Due: eslint

react minor upgrade (16.8.1->16.8.4)
  package.json
  yarn.lock
Due: none

placeholders (/old labels), empty interfaces, textNotification trigger
  src/components/Notification/TextNotification.tsx
  src/hacks/DaveHakkensNL.hacks.tsx
  src/pages/Discussions/PostCreate/index.tsx
  src/pages/Howto/Content/CreateHowto/Step/Step.tsx
  src/pages/Profile/Profile.tsx
  src/pages/Profile/content/ChangePassword.form.tsx
  src/pages/Profile/content/ImportDH.form.tsx
  src/pages/Profile/content/ProfileEdit.form.tsx
  src/pages/Profile/content/UserProfile.tsx
  src/registerServiceWorker.ts
  src/utils/firebase.ts
  tslint.json
Due: tslint --project tsconfig.json --config tslint.json

improve disabled input and textarea styling
  src/components/Form/Fields.tsx
  src/components/Form/elements.js
  src/hacks/DaveHakkensNL.hacks.tsx
  src/pages/Profile/content/ImportDH.form.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json, eslint

dh migrate error handling
  functions/src/DaveHakkensNL/dataMigrate.ts
  functions/src/index.ts
Due: tslint --project tsconfig.json --config tslint.json

Path conditions:
  tslint --project tsconfig.json --config tslint.json: any of: *.{ts,tsx}
  eslint: any of: *.{js,jsx}
