Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, eslint

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": [
      "tslint --project tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "eslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  }
}

Updating Unit test to calculate the expected value vs hard coding it otherwise it will keep failing
  src/pages/Discussions/PostList/ListRow/ListRow.spec.tsx
Due: tslint --project tsconfig.json --config tslint.json

Checking in file mock for jest configuration
  src/mocks/file.mock.ts
Due: tslint --project tsconfig.json --config tslint.json

Adding Jest debug and fixing module resolving issues
  CONTRIBUTING.md
  package.json
Due: none

Fix for broken build, 513727384
  src/mocks/file.mock.ts
Due: tslint --project tsconfig.json --config tslint.json

yarn.lock
  yarn.lock
Due: none

create Text basic component based on Rebass
  src/components/Text/index.tsx
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

create howto summary component and check if it is able to display step titles
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/HowtoSummary.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/elements.js
  src/pages/Howto/Content/Howto/Step/Step.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, eslint

update fontSize
  src/themes/styled.theme.tsx
Due: tslint --project tsconfig.json --config tslint.json

add global system font - remove index.css
  src/index.css
  src/index.tsx
  src/themes/app.globalStyle.js
Due: tslint --project tsconfig.json --config tslint.json, eslint

define text & heading size props
  src/components/Heading/index.tsx
  src/components/Text/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

comment call to db - temporary fix to #433
  src/components/Avatar/index.tsx
  src/pages/Howto/Content/CreateHowto/CreateHowto.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix router.Link import
  src/pages/Howto/Content/CreateHowto/CreateHowto.tsx
Due: tslint --project tsconfig.json --config tslint.json

add hashlink for the howto summary component to have clickable links
  package.json
  src/pages/Howto/Content/Howto/Howto.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/HowtoSummary.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/elements.js
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, eslint

add styling and scrolling for summary component
  src/pages/Howto/Content/Howto/HowtoSummary/HowtoSummary.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/elements.js
Due: tslint --project tsconfig.json --config tslint.json, eslint

modify howto oage to include correct props
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

fixed position of how-toSummary component
  src/pages/Howto/Content/Howto/HowtoSummary/elements.js
Due: eslint

avoid scroll to top in case you navigate between location.hash in a page
  src/components/ScrollToTop/ScrollToTop.tsx
Due: tslint --project tsconfig.json --config tslint.json

add #description id to description how-to container to allow hash navigation - use hash & pathname property on HowToSummary hashlinks to props
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
  src/pages/Howto/Content/Howto/HowtoSummary/HowtoSummary.tsx
Due: tslint --project tsconfig.json --config tslint.json

update onearmy email
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/build-new-component.md
Due: none

function scripts
  firebase.json
  functions/package.json
  scripts/deploy.dev.sh
  scripts/deploy.prod.sh
Due: none

remove old migration
  src/utils/UserMigration/.gitignore
  src/utils/UserMigration/README.md
  src/utils/UserMigration/package.json
  src/utils/UserMigration/src/index.ts
  src/utils/UserMigration/tsconfig.json
  src/utils/UserMigration/yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

fix console logs
  functions/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json

console logs
  src/common/errors.ts
Due: tslint --project tsconfig.json --config tslint.json

update user model
  src/mocks/user.mock.tsx
  src/models/user.models.tsx
Due: tslint --project tsconfig.json --config tslint.json

profile page change, user registration methods
  src/pages/common/User/Detail.tsx
  src/stores/User/user.store.ts
  src/stores/database.tsx
Due: tslint --project tsconfig.json --config tslint.json

login form and headers
  src/pages/Profile/Settings/ChangePassword.tsx
  src/pages/common/Header/CommunityHeader/CommunityHeader.tsx
  src/pages/common/Login/Login.tsx
  src/pages/common/Login/LoginForm.tsx
Due: tslint --project tsconfig.json --config tslint.json

update functions gitignore
  functions/.gitignore
Due: none

migration function and function tidying
  functions/src/DaveHakkensNL/BPMember.model.ts
  functions/src/DaveHakkensNL/dataMigrate.ts
  functions/src/Firebase/firestoreDB.ts
  functions/src/Firebase/realtimeDB.ts
  functions/src/comments.ts
Due: tslint --project tsconfig.json --config tslint.json

admin tidying, update lintstaged (excl functions)
  .lintstagedrc
  functions/src/DaveHakkensNL/dataMigrate.ts
  functions/src/Firebase/admin.ci.ts
  functions/src/Firebase/admin.local.ts
  functions/src/Firebase/admin.ts
  functions/src/config/config.ts
  functions/src/index.ts
  functions/src/storageFunctions.ts
  functions/src/utils.ts
  functions/tsconfig.json
Due: tslint --project tsconfig.json --config tslint.json

remove migrate api endpoint
  functions/package.json
  functions/src/Firebase/admin.ts
  functions/src/index.ts
Due: tslint --project tsconfig.json --config tslint.json

add link to onearmy video in readme
  README.md
Due: none

update dh user ids function
  functions/package.json
  functions/src/DaveHakkensNL/dataMigrate.ts
  functions/src/Firebase/firestoreDB.ts
  functions/src/Firebase/realtimeDB.ts
  functions/src/Utils/file.utils.ts
  functions/src/Utils/utils.ts
  functions/src/databaseBackup.ts
  functions/src/index.ts
  functions/tsconfig.json
  functions/yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

update comments
  functions/src/DaveHakkensNL/dataMigrate.ts
Due: tslint --project tsconfig.json --config tslint.json

organising function names and folders
  functions/src/Analytics/analytics.ts
  functions/src/Analytics/comments.ts
  functions/src/DaveHakkensNL/dataMigrate.ts
  functions/src/Firebase/databaseBackup.ts
  functions/src/Firebase/storageFunctions.ts
  functions/src/Utils/imageConverter.ts
  functions/src/index.ts
Due: tslint --project tsconfig.json --config tslint.json

dh function logging
  functions/src/DaveHakkensNL/dataMigrate.ts
  functions/src/index.ts
Due: tslint --project tsconfig.json --config tslint.json

remove old user migration
  src/utils/user-migration.ts
Due: tslint --project tsconfig.json --config tslint.json

remove sand console logs
  package.json
  src/components/Editor/plugins/image/core/Utils.ts
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

refactor profile view and edit components
  src/components/Icons/index.tsx
  src/mocks/user.mock.tsx
  src/models/user.models.tsx
  src/pages/Home/SignUp.tsx
  src/pages/Profile/Profile.tsx
  src/pages/Profile/Settings.tsx
  src/pages/Profile/content/ChangePassword.tsx
  src/pages/Profile/content/ProfileEditForm.tsx
  src/pages/Profile/content/UserProfile.tsx
  src/pages/common/User/Detail.tsx
  src/pages/common/User/Form.tsx
  src/pages/common/User/Template.tsx
  src/pages/index.tsx
  src/stores/Tags/tags.store.tsx
  src/stores/User/user.store.ts
Due: tslint --project tsconfig.json --config tslint.json

isolate migration frontend, fix console bug
  src/hacks/DaveHakkensNL.hacks.tsx
  src/models/user.models.tsx
  src/pages/Profile/content/ProfileEditForm.tsx
  src/pages/Profile/content/UserProfile.tsx
  src/stores/User/user.store.ts
  types/console.d.ts
Due: tslint --project tsconfig.json --config tslint.json
