Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, eslint

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": [
      "tslint --project tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "eslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  }
}

hotfix - map undefined bug
  src/pages/Maps/Content/View/index.tsx
Due: tslint --project tsconfig.json --config tslint.json

improve tag filtering system to display howtos with the selectedTags and more
  src/stores/Howto/howto.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

add filter util function, tidy howto filter code
  src/stores/Howto/howto.store.tsx
  src/utils/filters.ts
Due: tslint --project tsconfig.json --config tslint.json

update title to createEvent fields
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

add how-to tags
  src/mocks/tags.mock.tsx
Due: tslint --project tsconfig.json --config tslint.json

update version number to 0.5.0
  package.json
Due: none

Add lighthouse and zap proxy
  .travis.yml
Due: none

Add nodejs 10,11,12 to build matrix
  .travis.yml
Due: none

add placeholder deploy script for testing
  .travis.yml
  scripts/deploy.notification.sh
Due: none

fix js crash
  .travis.yml
Due: none

Fix path to npm
  .travis.yml
Due: none

Add increase memory as NODE_OPTION
  .travis.yml
Due: none

Remove node 10,11 from allow failures
  .travis.yml
Due: none

add link to user profile from map card
  src/pages/Maps/Content/View/Popup.tsx
Due: tslint --project tsconfig.json --config tslint.json

display map section in production
  src/pages/PageList.tsx
Due: tslint --project tsconfig.json --config tslint.json

improve map user popup display
  src/pages/Maps/Content/View/Popup.tsx
Due: tslint --project tsconfig.json --config tslint.json

update version number to v0.5.1
  package.json
Due: none

rename filteredHowtos to filteredCollectionByTags and move fn to module store
  src/stores/Howto/howto.store.tsx
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

allow tag filtering on events
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Events/Events.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
  src/stores/Events/events.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

add filter defaults
  src/stores/Events/events.store.tsx
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

create method filteredCollectionByLocation in common module store
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

add LocationSearch component on EventsList
  src/pages/Events/Content/EventsList/EventsList.tsx
Due: tslint --project tsconfig.json --config tslint.json

filter events list by location & tags
  src/stores/Events/events.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

create onClear method on LocationSearch component to update event list onClear event
  src/components/LocationSearch/LocationSearch.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/stores/Events/events.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

call onclear props on algolia event
  src/components/LocationSearch/LocationSearch.tsx
Due: tslint --project tsconfig.json --config tslint.json

rename functions filteredCollectionBy to filterCollectionBy for consistency
  src/stores/Howto/howto.store.tsx
  src/stores/common/module.store.ts
Due: tslint --project tsconfig.json --config tslint.json

refacto filteredEvents for more readability
  src/stores/Events/events.store.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix algolia search icon
  src/components/LocationSearch/LocationSearch.tsx
  src/themes/app.globalStyle.js
Due: tslint --project tsconfig.json --config tslint.json, eslint

update version number
  package.json
Due: none

remove discussion dependencies - remove all occurence of Discussion section
  functions/src/Firebase/firebaseSync.ts
  functions/src/upgrade/dbV1Upgrade.ts
  package.json
  src/assets/icons/icon_components.tsx
  src/mocks/discussions.mock.tsx
  src/models/common.models.tsx
  src/models/discussions.models.tsx
  src/pages/Discussions/PostCreate/PostTemplate.tsx
  src/pages/Discussions/PostCreate/index.tsx
  src/pages/Discussions/PostList/List.tsx
  src/pages/Discussions/PostList/ListRow/ListRow.spec.tsx
  src/pages/Discussions/PostList/ListRow/elements.tsx
  src/pages/Discussions/PostList/ListRow/index.tsx
  src/pages/Discussions/PostList/fields.tsx
  src/pages/Discussions/PostList/index.tsx
  src/pages/Discussions/PostResponse/PostResponse.tsx
  src/pages/Discussions/PostView/PostView.tsx
  src/pages/Discussions/common/columns.ts
  src/pages/Discussions/common/compare.ts
  src/pages/Discussions/common/filters.ts
  src/pages/Discussions/common/format.ts
  src/pages/Discussions/common/handler.ts
  src/pages/Discussions/common/index.ts
  src/pages/Discussions/common/types.ts
  src/pages/Discussions/index.tsx
  src/pages/Feedback/Feedback.tsx
  src/pages/PageList.tsx
  src/stores/Discussions/discussions.store.tsx
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/types/index.d.ts
  src/stores/index.tsx
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

wip add EditHowto page - create common form for create & edit howto
  src/pages/Howto/Content/Common/FormSettings.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/Common/HowtoStep.form.tsx
  src/pages/Howto/Content/Common/PostingGuidelines.tsx
  src/pages/Howto/Content/Common/SubmitStatus.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
  src/pages/Howto/Content/EditHowto/Template.tsx
  src/pages/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

fix unique key error
  src/components/Menu/MenuDesktop.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

add parentType prop on HowtoForm
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/CreateHowto/CreateHowto.tsx
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
Due: tslint --project tsconfig.json --config tslint.json

buttons
  src/components/Button/index.tsx
  src/pages/Events/Content/EventsList/EventsList.tsx
  src/pages/Howto/Content/HowtoList/HowtoList.tsx
Due: tslint --project tsconfig.json --config tslint.json

add edit button in how-to description
  src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx
Due: tslint --project tsconfig.json --config tslint.json

inject existing data in edit form TODO : inject tags and images
  src/pages/Howto/Content/EditHowto/EditHowto.tsx
Due: tslint --project tsconfig.json --config tslint.json

create onSubmit() props to howtoform - add exception on form depending on parentType - fix form submittion
  src/pages/Howto/Content/Common/Howto.form.tsx
  src/pages/Howto/Content/CreateHowto/CreateHowto.tsx
  src/pages/Settings/SettingsPage.tsx
Due: tslint --project tsconfig.json --config tslint.json

little text update on howtoFrom
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

more link
  src/pages/Howto/Content/Howto/Howto.tsx
Due: tslint --project tsconfig.json --config tslint.json

pages login & password
  src/pages/PageList.tsx
  src/pages/Password/ForgotPassword.tsx
  src/pages/Password/ForgotPasswordMessage.tsx
  src/pages/Settings/SettingsPage.tsx
  src/pages/SignIn/SignIn.tsx
  src/pages/SignUp/SignUp.tsx
  src/pages/SignUp/SignUpMessage.tsx
Due: tslint --project tsconfig.json --config tslint.json
