Repository ONEARMY/community-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --config tslint.json, eslint

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": [
      "tslint --project tsconfig.json --config tslint.json"
    ],
    "*.{js,jsx}": [
      "eslint"
    ],
    "*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
      "prettier --write",
      "git add"
    ]
  }
}

ci scripts
  .travis.yml
Due: none

docs tidying, revert file upload, fix tz error
  .travis.yml
  cypress/fixtures/seed/events.json
  package.json
  yarn.lock
Due: none

fix firefox file uploads
  cypress/integration/howto/write.spec.ts
  cypress/integration/settings.spec.ts
  cypress/support/commands.ts
  cypress/support/custom-assertions.ts
  package.json
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json

Refactor db to allow for prefixes
  cypress/support/db/firebase.ts
  functions/src/Firebase/firebaseSync.ts
  functions/src/models.ts
  src/models/common.models.tsx
  src/stores/Admin/admin.store.ts
  src/stores/Events/events.store.tsx
  src/stores/Howto/howto.store.tsx
  src/stores/Maps/maps.store.ts
  src/stores/Tags/tags.store.tsx
  src/stores/User/user.store.ts
  src/stores/_Template/template.store.tsx
  src/stores/common/module.store.ts
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/config.ts
  src/stores/databaseV2/index.tsx
  src/stores/databaseV2/types/index.d.ts
Due: tslint --project tsconfig.json --config tslint.json

tidy test scripts, add cy env binding and db gen
  .env.e2e
  .lintstagedrc
  package.json
  scripts/test.e2e.js
Due: eslint

fix validateTitle methods
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Common/Howto.form.tsx
Due: tslint --project tsconfig.json --config tslint.json

env var tidying
  config/env.js
  src/config/config.ts
Due: tslint --project tsconfig.json --config tslint.json, eslint

remove deprecated functions api methods
  functions/src/exports/api.ts
Due: tslint --project tsconfig.json --config tslint.json

update travis script
  .travis.yml
Due: none

ci scripts
  scripts/test.e2e.js
Due: eslint

add error handler
  scripts/test.e2e.js
  tslint.json
Due: eslint

tsconfig minor tweaks
  .gitignore
  functions/package.json
  functions/tsconfig.json
  functions/yarn.lock
  src/models/common.models.tsx
  tsconfig.json
Due: tslint --project tsconfig.json --config tslint.json

fix video embed spec
  cypress/integration/howto/read.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

bump version, fix functions main ref
  functions/package.json
  package.json
Due: none

bump version 1.1.0
  package.json
Due: none

fix howto specs
  cypress/integration/howto/write.spec.ts
  cypress/support/custom-assertions.ts
Due: tslint --project tsconfig.json --config tslint.json

add failing test
  cypress/integration/bugs.spec.ts
Due: tslint --project tsconfig.json --config tslint.json

fail testing
  cypress/integration/academy.spec.ts
  cypress/integration/common.spec.ts
  cypress/integration/events.spec.ts
  cypress/integration/howto/read.spec.ts
  cypress/integration/howto/write.spec.ts
  cypress/integration/map.spec.ts
  cypress/integration/settings.spec.ts
  cypress/integration/sign-in.spec.ts
  cypress/integration/sign-up.spec.ts
  cypress/support/custom-assertions.ts
  scripts/test.e2e.js
Due: tslint --project tsconfig.json --config tslint.json, eslint

fail test
  scripts/test.e2e.js
Due: eslint

fix test fail process exit
  scripts/test.e2e.js
Due: eslint

uneject create-react-app, remove unused deps
  .env
  .firebase/hosting.YnVpbGQ.cache
  .gitignore
  config/env.js
  config/enzyme.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/jest/typescriptTransform.js
  config/paths.js
  config/polyfills.js
  config/sw.js
  config/webpack.config.dev.js
  config/webpack.config.js
  config/webpack.config.prod.js
  config/webpackDevServer.config.js
  package.json
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  scripts/build.js
  scripts/start.js
  scripts/test.js
  tsconfig.json
  yarn.lock
Due: eslint

fix lint errors
  src/common/errors.ts
  src/components/ElWithBeforeIcon/index.tsx
  src/components/Flex/index.tsx
  src/components/Form/Select.field.tsx
  src/components/Heading/index.tsx
  src/components/LocationSearch/LocationSearch.tsx
  src/components/MoreContainer/MoreContainer.tsx
  src/components/ProfileModal/ProfileModal.tsx
  src/components/Text/index.tsx
  src/config/config.ts
  src/pages/Events/Content/EventsCreate/EventsCreate.tsx
  src/pages/Howto/Content/Howto/Step/ImageGallery.tsx
  src/pages/common/Header/Menu/Profile/Profile.tsx
  src/pages/common/Layout/Main.tsx
  src/pages/common/Login/Login.form.tsx
  src/pages/common/Login/Login.tsx
  src/pages/common/Login/ResetPW.form.tsx
  src/pages/common/Login/SignUp.form.tsx
  src/pages/common/SWUpdateNotification/SWUpdateNotification.tsx
  src/stores/Maps/maps.store.ts
  src/stores/databaseV2/clients/dexie.tsx
  src/stores/databaseV2/index.tsx
  types/wordpress-hash-node/index.d.ts
Due: tslint --project tsconfig.json --config tslint.json

replace tslint with eslint, fix lint errors
  .eslintignore
  .eslintrc
  .huskyrc
  .lintstagedrc
  config/sw.js
  cypress/support/commands.ts
  functions-cron/tslint.json
  functions/src/DaveHakkensNL/login.ts
  functions/src/models.ts
  package.json
  scripts/test.e2e.js
  src/config/config.ts
  src/pages/policy/privacy.tsx
  src/pages/policy/terms.tsx
  src/react-app-env.d.ts
  src/registerServiceWorker.ts
  src/setupTests.ts
  src/tsconfig.app.json
  src/tsconfig.json
  src/utils/firebase.ts
  types/classname.d.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, eslint

fix location search style
  src/components/LocationSearch/LocationSearch.tsx
Due: tslint --project tsconfig.json --config tslint.json

add cra bundle analyzer
  package.json
  yarn.lock
Due: none

add cra support for custom service worker
  config-overrides.js
  package.json
  src/registerServiceWorker.ts
  yarn.lock
Due: tslint --project tsconfig.json --config tslint.json, eslint
